table {
    font-size: 11px;
}

td,
th {
    vertical-align: middle;
    padding: 4px 7px;
}

.text-qty {
    width: 15%;
    font-weight: bold;
    color: green;
    margin: 2px 0;
}

.text-total {
    width: 20%;
    font-weight: bold;
    color: #EF6C00;
}

.text-total-format {
    font-weight: bold;
}

.text-bold {
    font-weight: bold;
}

.text-red {
    color: #E53935;
}